<div class="source">
  <div class="source-upper">
    <%= link_to source.title, source_path(source.id) %>
  </div>
  <div class="source-bottom">
    <div class="source-bottom-left">
      カテゴリー：<%= source.category.name %>
    </div>
    <div class="source-bottom-right">
      校種：<%= source.grade.name %>
    </div>
  </div>
</div>