<div class="contents-wrapper">
  <div class="contents">
    <div class="form-wrapper">
      <h1 class="source-action-title">編集</h1>
      <%= render partial: 'form', locals: {source: @source} %>
    </div>
  </div>
</div>