ログインしました
<% if admin_signed_in? %>
  <div class="contents-wrapper">
    <div class="contents">
      <% @sources.each do |source| %>
        <div class="source">
          <div class="source-upper">
            <%= link_to source.title, source_path(source.id) %>
          </div>
          <div class="source-bottom">
            <div class="source-bottom-left">
              <%= source.category.name %>
            </div>
            <div class="source-bottom-right">
              <%= source.grade.name %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% elsif user_signed_in? %>
  <p>検索ボックスから検索してください</p>
<% else %>
  上のボタンからログインおよび新規登録してください
<% end %>