<%= form_with(url: search_sources_path, local: true, method: :get, class: "search-form") do |form| %>
  <%= form.text_field :keyword, placeholder: "検索", class: "search-input" %>
  <%= form.submit "検索", class: "search-btn" %>
<% end %>
検索結果
<div class="contents row">
  <% @sources.each do |source| %>
    <%= render partial: "source", locals: { source: source } %>
  <% end %>
</div>