/* リセットCSS */
body {
  font-size: 14px;
  color: #333;
  margin: 0 auto;
  background-color: #f5f5f3;
}
h1,h2,h3,h4,h5,h6,p {
  padding: 10px 0;
  margin: 0;
}

ul,li {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #666;
}

/* Tokushi App CSS */
header{
  height: 56px;
  padding: 0 80px;
  background-color: aqua;
  display: flex;
  justify-content: space-between;
}

.header-left{
  height: 100%;
  font-size: 25px;
  font-weight: bold;
  display: flex;
  align-items: center;
}


.header-buttons{
  display: flex;
  align-items: center;
}

.new-sources{
  margin-top: 10px;
  padding: 5px 15px;
  border: 2px solid #57c3e9;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.new-source-button{
  color: #57c3e9;
}

.admin-session,.user-session{
  padding: 5px 15px;
  margin-top: 10px;
  margin-left: 15px;
  border: 2px solid #57c3e9;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

#admin-menu,#user-menu{
  margin-left: 100px;
  background-color: white;
  border: 1px solid #666;
}

#menu-trigger{
  padding: 0;
}

.menu-list{
  padding: 5px 10px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

#admin-edit,#user-edit{
  border-bottom: 1px solid #666;
}

.contents-wrapper{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  height: calc(100vh - 130px);
}

.contents{
  width: 80vw;
  padding: 5px;
}

.search-box{
  background-color: #fff;
  border: 1px solid black;
  display: flex;
  justify-content: center;
}

.search-form-innerbox{
  width: 70%;
}

.search-input{
  width: 100%;
}

.search-select{
  width: 50%;
}